html {
  font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#main {
  background-color: #eeeeee;
  border-radius: 5px;
}

#title,
#subtitle,
#more-info {
  text-align: center;
}

#img-div {
  background-color: white;
  border-radius: 5px;
  margin: 25px;
  padding-bottom: 10px;
}

#img-caption {
  text-align: center;
  margin-top: 10px;
}

#image {
  max-width: 80%;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 5px;
}

#tribute-info {
  padding-left: 250px;
  padding-right: 250px;
}

#tribute-quote {
  padding-left: 200px;
  padding-right: 200px;
}
